* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: var(--font-family-b);
  width: 100%;
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --bg-green: #74c69d;
  --bg-color: #65b6de;
  --font-family-s: "Crimson Text", serif;
  --font-family-b: "Work Sans", serif;
  --font-white: #fff;
  --font-big: 2.5rem;
  --font-dark: #212529;
  --font-black: #000000;
  --font-green: #f2faf6;
  --shadow-1: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
}

.container {
  margin-left: 4rem;
  margin-right: 4rem;
}

a {
  text-decoration: none;
  color: var(--font-white);
}
.btn {
  padding: 0.6rem 2rem;
  border: 0.1rem solid var(--font-black);
  background: var(--font-dark);
  border-radius: 0.5rem;
  font-family: var(--font-family-b);
  display: inline-block;
}
.btn:hover {
  background: var(--font-black);
}
