@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
nav {
  width: 100vw;
  max-width: calc(1400px - 5rem);
  background: var(--bg-green);
}

.menu_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:1.5rem 0;
}

.menu_logo {
  display: flex;
  gap: 1.5rem;
  height: 100%;
  cursor: pointer;
}
.menu_logo img {
  display: inline-block;
  padding: 5px 0;
}
.menu_logo h2 {
  color: var(--font-white);
  padding: 0;
  display: flex;
  margin: auto;
  padding: 0.5rem;
}

.menu_bar .menu_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  color: var(--font-white);
  font-family: "Poppins", sans-serif;
}
.menu_area a:hover {
  cursor: pointer;
}

/* Header Area */

header {
  background: var(--bg-green);
  padding: 2.5rem 0;
}

.header_area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.header_text {
  flex: 1;
  width: 50%;
  color: var(--font-white);
}
.header_text h4 {
  color: var(--font-white);
}
.header_text h1 {
  padding: 1.5rem 0;
  color: var(--font-white);
}
.header_text p {
  color: var(--font-white);
}
.header_text a {
  margin-top: 1rem;
}

.header_img {
  width: 50%;
  height: auto;
  height: 100%;
  color: var(--font-white);
}
.header_img img {
  width: 100%;
  height: 100%;
}

/* Partner Section */

.partners_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0;
}
.partners_section h4 {
  font-family: var(--font-family-b);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.partners_section h1 {
  margin: 1rem 0;
  font-family: var(--font-family-b);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.partners_section .partner_img {
  display: flex;
  flex-direction: row;
  gap: 4vh;
  margin: 1.5rem 0;
  align-content: center;
  flex-wrap: wrap;
}

/* EXplore Section */
.explore {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4vw;
}
.explore .explore_img {
  flex: 1;
}
.explore .explore_text {
  flex: 1;
}
.explore .explore_text h1 {
  font-size: 2.5rem;
}
.explore .explore_text p {
  color: var(--font-dark);
  margin: 1rem 0;
}
.exploer_section2 {
  margin: 2.5rem 0;
}

.team_area {
  text-align: center;
  margin: 2.5rem 0;
}
.team_area h4 {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.team_area h1 {
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
}
.team_area p {
  color: var(--font-dark);
  margin: 0.5rem 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 4vw;
  margin: 2.5rem 0;
}
.cards .card {
  flex: 1;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  padding: 1.5rem 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0.2rem 1rem 1.2rem rgba(0, 0, 0, 0.2);
}
.cards .card img {
  padding: 2rem 0;
}

.card .name {
  font-size: 1rem;
  margin: 1.2rem 0;
  font-weight: bolder;
}
.card .designation {
  font-size: 1rem;
  margin: 2rem 0;
  font-weight: bolder;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--font-dark);
}

footer {
  background: var(--bg-green);
}
.footer_section {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  justify-content: space-around;
  gap: 4vw;
}

.footer_social .social_icon {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}
.footer_section .footer_copyr {
  text-align: center;
}

/* Protfolio Page */
.protfolio_section {
  text-align: center;
  margin: 2.5rem 0;
}
.protfolio_section h4 {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: var(--bg-green);
}
.protfolio_section h1 {
  letter-spacing: 0.5rem;
  padding: 1rem 0;
}
.protfolio_section p {
  color: var(--font-dark);
  margin-bottom: 2.5rem;
}
.portfolio_img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  margin: 2.5rem 3rem;
}
[class^="port_img-"] {
  overflow: hidden;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  background-color: var(--bg-green);
}

[class^="port_img-"] img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
[class^="port_img-"] img:hover {
  transform: rotate(15deg);
}

/* contact page area */

.Contect_section {
  text-align: center;
  margin: 2.5rem 0;
}
.contact_area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  gap: 4vw;
  margin: 2.5rem 0;
}
.contact_area .contact_input {
  flex: 1;
  justify-content: center;
  
}
[class^="input-"]{
 margin:0 2.5rem;
}

[class^="input-"] input{
  width:100%;
  display: block;
  height:2.5rem;
  border:none;
  border:.1rem solid black;
  border-radius:.2rem ;
  background-color:rgb(157, 153, 153);
}
[class^="input-"] label{
  width:100%;
  display: block;
  text-align: left;
  padding:.5rem 0;
}
[class^="input-"] textarea{
  width:100%;
  display: block;
  height:5.5rem;
  border:none;
  border:.1rem solid black;
  border-radius:.2rem ;
  background-color:rgb(157, 153, 153);

}

.contact_area .contact_map {
  flex: 1;
}
.contact_map{
  width:100%;
  height:100;
  overflow:hidden;
  object-fit: cover;
}
.btn_submit{
  display: block;
  margin:2rem 2.5rem;
}

.menu_area a:hover{
  text-decoration:underline;
}

.Service_section{
text-align: center;
margin:2.5rem 0;
}
.Service_section h4 {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: var(--bg-green);
}
.Service_section h1 {
  letter-spacing: 0.5rem;
  padding: 1rem 0;
  letter-spacing:normal;
}
.Service_section h1 span{
font-size:0.9rem;
letter-spacing: normal;
color:var(--font-dark);
}

.Service_section p {
  color: var(--font-dark);
  margin-bottom: 1.8rem;
}
.Service_section .service_cards{
  display: flex;
  flex-direction: row;
  flex:1fr 1fr 1fr;
  gap:4vw;
  padding:1.5rem 1.0rem;
 
}
.Service_section .service_cards .services_card{
  padding:2rem 1rem;
  border-radius:0.2rem;
  box-shadow:0rem 0rem .5rem rgba(0, 0, 0, 0.2),
  .5rem .5rem .5rem rgba(0, 0, 0, 0.2);
}
.services_card .btn{
 padding:0 1.5rem;
 background:red;
}
.service_list{
  padding:1.5rem 0;
   }
.service_list .item{
padding:0.2rem;
 }
 
.service_list .item i{
 font-size: 0.8rem;
 margin-right:0.3rem;
}
